<p id="notice"><%= notice %></p>
<div id="wrapper">
<%= link_to "ユーザーを追加する", edit_mypage_project_path(@project) %>
  <div class="table-responsive">
    <table class="list">
      <tr>
        <th class="list__item1">タイトル</th>
        <th class="list__item2">内容</th>
        <th class="list__item3">公開状況</th>
        <th class="list__item4">経緯</th>
        <th class="list__item5">投稿日</th>
        <th class="list__item7">要約</th>
        <th class="list__item8">参考URL</th>
        <th class="list__item9">ジャンル</th>
        <th class="list__item10">編集する</th>
        <th class="list__item11">削除する</th>
      </tr>
      <% @project_posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, mypage_project_project_post_path(@project,post) %></td>
          <td><%= post.body %></td>
          <td><%= post.status %></td>
          <td><%= post.reason %></td>
          <td><%= post.posted_at.strftime("%m-%d") %></td>
          <td><%= post.summary %></td>
          <td><%= link_to post.url, post.url  %></td>
          <td><%= link_to 'Edit', edit_mypage_project_project_post_path(@project,post) %></td>
          <td><%= link_to 'Destroy', mypage_project_project_post_path(@project,post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


