<div class="container">
<%= form_with(model:post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div >
  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Post.statuses.keys,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :posted_at %>
    <%= form.datetime_select :posted_at %>
  </div>

  <div class="form-group">
    <%= form.label :reason %>
    <%= form.text_area :reason, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :rank %>
    <%= form.select :rank, Post.ranks.keys, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :summary %>
    <%= form.text_field :summary, class:"form-control" %>
  </div>

  <%= form.label :genre, 'ジャンル' %>
    <%= form.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
      <%= genre.label do %>
        <%= genre.check_box %>
        <%= genre.text %>
      <% end %>
    <% end %><br>
    <%= fields_for @genre, :genres do |form| %>
      <%= form.label :新しくジャンルを作る %>
      <%= form.text_field :name, class:"form-control" %>
    <% end %>


  <div class="actions">
    <%= form.submit class:"btn btn-info" %>
  </div>
<% end %>
</div>