<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@post.body).html_safe %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>Posted at:</strong>
  <%= @post.posted_at %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @post.reason %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @post.rank %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @post.summary %>
</p>

<p>
  <% @post.genres.each do |genre| %>
    <strong>Genre:</strong>
    <%= genre.name %>
  <% end %>
</p>


<% if request.path.include?("genre")%>
<%= link_to 'Back', mypage_genre_path(@genre) %>
<% else %>
<%= link_to 'Back', posts_path %>
<% end %>